[submodule "submodules/Adafruit_CircuitPython_asyncio"]
	path = submodules/Adafruit_CircuitPython_asyncio
	url = https://github.com/adafruit/Adafruit_CircuitPython_asyncio.git
[submodule "submodules/Adafruit_CircuitPython_Ticks"]
	path = submodules/Adafruit_CircuitPython_Ticks
	url = https://github.com/adafruit/Adafruit_CircuitPython_Ticks
[submodule "submodules/RAPID-0-Undisclosable-Software"]
	path = submodules/RAPID-0-Undisclosable-Software
	url = https://github.com/Bruin-Spacecraft-Group/RAPID-0-Undisclosable-Software.git
